<main class="main" id="main">
  <div class="pagetitle">
    <h1>Tooltips</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
        <li class="breadcrumb-item">Components</li>
        <li class="breadcrumb-item active">Tooltips</li>
      </ol>
    </nav>
  </div>
  <section class="section">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Tooltips Examples</h5>
            <p>Hover over the buttons below to see the four tooltips directions: top, right, bottom, and left.</p>
            <button class="btn btn-secondary" data-bs-placement="top" data-bs-toggle="tooltip" title="Tooltip on top"
                    type="button"> Tooltip on top
            </button>
            <button class="btn btn-secondary" data-bs-placement="right" data-bs-toggle="tooltip"
                    title="Tooltip on right"
                    type="button"> Tooltip on right
            </button>
            <button class="btn btn-secondary" data-bs-placement="bottom" data-bs-toggle="tooltip"
                    title="Tooltip on bottom"
                    type="button"> Tooltip on bottom
            </button>
            <button class="btn btn-secondary" data-bs-placement="left" data-bs-toggle="tooltip" title="Tooltip on left"
                    type="button"> Tooltip on left
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
